* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}
.clock {
  margin-top: 200px;
}
.watch {
  border: 2px solid green;
  border-radius: 20px;
  border-width: 4px;
  height: 200px;
  width: 55%;
  margin-left: 280px;
  background-color: #fff;
}
h1 {
  color: black;
  font-family: "Orbitron", sans-serif;
  text-align: left;
  margin-left: 100px;
  padding-top: 40px;
}
@media (max-width: 1024px) {
  .clock {
    margin-top: 400px;
  }
  .watch {
    width: 80%;
    margin-left: 80px;
  }
}
@media (max-width: 768px) {
  .clock {
    margin-top: 300px;
  }
  .watch {
    width: 80%;
    margin-left: 80px;
  }
}
@media (max-width: 430px) {
  .clock {
    margin-top: 280px;
  }
  .watch {
    width: 90%;
    height: 150px;
    margin-left: 10px;
  }
  h1 {
    font-size: 20px;
    margin-left: 20px;
    padding-top: 40px;
  }
}
